PORT=5000
MONGODB_URI=mongodb://your_user:your_password@your-cluster.mongodb.net:27017/neoconnect?ssl=true&replicaSet=your-replica&authSource=admin&appName=neo

JWT_ACCESS_SECRET=your_super_secret_jwt_access_key_change_in_production
JWT_ACCESS_EXPIRES_IN=15m

CLIENT_URL=http://localhost:3000
NODE_ENV=development
